
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif;
    background-image: url(image/peacock.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
}
nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: row;
    color: #ffff;
    padding: 10px 7px;
    height: 75px;
    align-items: center;
    /*background: linear-gradient(rgb(70, 70, 222), rgb(17, 17, 121));*/
}
nav h2{
    padding: 6px 10px;
    height: 40px;
    width: 120px;
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 5px 5px rgb(234, 234, 239);
    border-radius: 20px;
    background: linear-gradient(rgb(17, 17, 121), rgb(70, 70, 222));
    border: 2px solid white;
}

nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin-left: 3rem;
    box-shadow: 5px 5px rgb(234, 234, 239);
    border-radius: 20px;
    padding: 6px 10px;
    height: 40px;
    width: 100px;
    border: 2px solid white;
    background: linear-gradient(rgb(17, 17, 121), rgb(70, 70, 222));
}
nav ul li a:hover{
    color: #ffff;
    font-size: 15px;
    transition: 0.5s ease;
    text-decoration: uppercase;
}
.content-item{
     color: #ffff;
     height: 90vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     font-size: 40px;
     list-style: none;
     border: 10ppx solid ;

}
.content-item a{
    color: #ffff;
}

